<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/login.css">
    <title>Document</title>
</head>
<body>
    <!-- Animated Wave Background  -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <!-- Log In Form Section -->
    <section>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/signup" method="post" onsubmit="check()">
                    <h1>Sign Up</h1>
                    <div class="social-container">
                        <!-- <a href="https://Github.com/YasinDehfuli" target="_blank" class="social"><i class="fab fa-github"></i></a> -->
                        <!-- <a href="https://Codepen.io/YasinDehfuli" target="_blank" class="social"><i class="fab fa-codepen"></i></a> -->
                        <!-- <a href="mailto:pratiksh.sk@gmail.com" target="_blank" class="social"><i class="fab fa-google"></i></a> -->
                    </div>
                    <span>Or use your Email for registration</span>
                    <label>
                        <input type="text" name="signup_name" placeholder="Name"/>
                    </label>
                    <label>
                        <input type="email" name="signup_email" placeholder="Email"/>
                    </label>
                    <label>
                        <input type="password" name="signup_password" placeholder="Password"/>
                    </label>
                    <label>
                        <input type="tel" name="signup_contact" placeholder="contact" pattern="[0-9]{10}"/>
                    </label>
                    <label>
                        <input type="text" name="signup_organisation" placeholder="organisation"/>
                    </label>
                    <button style="margin-top: 9px">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/login" method="post">
                    <h1>Sign in</h1>
                    <div class="social-container">
                        <!-- <a href="https://Github.com/YasinDehfuli" target="_blank" class="social"><i class="fab fa-github"></i></a> -->
                        <!-- <a href="https://Codepen.io/YasinDehfuli" target="_blank" class="social"><i class="fab fa-codepen"></i></a> -->
                        <!-- <a href="mailto:Ydehfuli@gmail.com" target="_blank" class="social"><i class="fab fa-google"></i></a> -->
                    </div>
                    <span> Or sign in using E-Mail Address</span>
                    <label>
                        <input type="email" name="login_email" placeholder="Email"/>
                    </label>
                    <label>
                        <input type="password" name="login_password" placeholder="Password"/>
                    </label>
                    <a href="#">Forgot your password?</a>
                    <button>Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Log in</h1>
                        <p>Sign in here if you already have an account </p>
                        <button class="ghost mt-5" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Create, Account!</h1>
                        <p>Sign up if you still don't have an account ... </p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        let check={{check}};
        
            if(check==1)
            {
                alert("wrong credentials")
            }
            else if(check==2)
            {
                alert("successfully signed up")
            }
            else if(check==3)
            {
                alert("wrong otp")
            }
            else if(check==4)
            {
                alert("email already exists")
            }
    </script>
    <script src="../public/login.js"></script>
    </body>
    
</html>


